
#form{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical }


    body{
        background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvTCQJsWYTxpVSJPbpVIuIAkMcu4J7hYubpMdQ6CSoh0Nz7ftf");
      background-size:cover;
    }

    .footer {
        display: flex;
        justify-content:center;
        /* position: fixed;
        left: 0;
        bottom: 0; */
        /* width: 10%; */
        /* background-color: red; */
        color: white;
        text-align: center;
      }
      footer{
        background-color: red;
        width: 20%;
        padding-bottom:3%;
        padding-top: 3%;
        padding-left: 2%;
        padding-right: 2%; 
        text-align: center; 
        color: white;    
      }